<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
</head>
<body>
    <form action="/YouTube" method="POST">
        <button type="submit" name="button" value="Video_Link">Video Link</button>
        <button type="submit" name="button" value="Thumbnail_Link">Thumbnail Link</button>
        <button type="submit" name="button" value="Video_Title">Video Title</button>
        <button type="submit" name="button" value="Video_Views">Video Views</button>
        <button type="submit" name="button" value="Video_Time">Video Time</button>

    </form>
</body>
</html>
